.PictureGrid {
	width: 100%;
	height: auto;
	overflow-y: scroll;
	background-size: cover;
	position: relative;
}

.navigation-And-Heading-container {
	margin-top: 15px;
}
.editButton {
	font-weight: bold;
	cursor: pointer;
}

.editTextFields {
	display: none;
}
.open .editTextFields {
	display: block;
}
